.container {
  display: flex;
  height: 80px;
  background-color: white;
  border: 1px solid black;
  align-items: center;
}

.pill-container {
  width: 33%;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33%;
}
