.container {
  display: flex;
  height: 80px;
  background-color: white;
  align-items: center;
}

.pill-container {
  width: 33%;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33%;
}

.link {
  text-decoration: none;
  font-size: 22px;
  font-weight: normal;
  color: black;
}
.link:visited {
  text-decoration: none;
  color: black;
}

@media (max-width: 640px) {
  .pill-container {
    display: none;
  }

  .actions {
    width: 100%;
  }
}
