.date-input {
  min-width: 305px;
  min-height: 50px;
  border: 1px solid #ff98a8;
  font-size: 15px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
}

.date-label {
  left: 0px;
  top: 0px;
  display: block;
  margin-bottom: 15px;

  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;

  color: #151522;
}

.switch-container {
  display: flex;
  align-items: center;
  padding-top: 50px;
  padding-left: 42px;
}
