table {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 28px;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

thead th {
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(228, 228, 228, 0.6);
}

table :first-of-type td {
  padding-top: 10px;
}
