table {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 28px;
  width: 100%;
}

thead {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  border-bottom: 1px solid rgba(228, 228, 228, 0.6);
}

tr {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
